body {
  background-image: url("login.png");
  width: 100%:

}

div {
  text-align: center;
  padding-top: 150px;
}

#button {
    position:absolute;
    top:0px;
    left:0;
    background: transparent;
    border: none !important;
    width:320px;
    height: 120px;
    color:white;
}

#button_2 {
    position:absolute;
    top:0px;
    right:0;
    background: transparent;
    border: none !important;
    width:60px;
    height: 40px;
    color:white;
}
